@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap");

:root {
  --black: #23231e;
  --grey: #4b4a45;
  --brown: #5a4e3e;
  --white: #d4c7b4;
}

html,
body {
  height: 100%;
  background-color: var(--black);
  overflow: hidden;
}

.animated-svg {
  transform-origin: 50% 50%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

h1,
h2,
h3 {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

.highlight {
  font-family: "Arapey", serif;
  font-style: italic;
  font-size: 40px !important;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.flex {
  display: flex;
  gap: 30px;
}

.spaced {
  align-items: center;
  justify-content: space-between;
}

.top {
  margin: 30px;
  max-height: 100px;
}

.nav-item {
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 10%;
  bottom: -3px;
  width: 0;
  height: 1px;
  background-color: var(--brown);
  transition: width 0.5s ease;
}

.nav-item:hover::after {
  width: 80%;
}

.boxes {
  min-height: calc(100% - 190px);
  margin: 30px;
  height: calc(100% - 190px);
}

.box {
  opacity: 0;
  padding: 30px;
  border-radius: 20px;
}

.box.light {
  background-color: var(--white);
  color: var(--black);
}

.box.dark {
  background-color: var(--grey);
  color: var(--white);
}

.left {
  height: 100%;
  flex-direction: column;
}

.title-area {
  flex: 1;
}

.title {
  flex-direction: column;
  flex: 2;
  align-items: flex-start;
}

.content {
  flex-direction: column;
  align-items: flex-start;
}

.image-box {
  flex: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
}

.right {
  min-width: 30%;
  flex-direction: column;
}

.locations {
  flex: 1;
  overflow: scroll;
}

.location {
  border-bottom: solid 1px var(--black);
  border-width: 1px 0;
  background-color: var(--white);
  height: 50px;
  overflow: hidden;
  cursor: pointer;
}

.city {
  margin: 15px 0;
}

.studio {
  margin-bottom: 15px;
  background-position: center bottom;
  background-size: cover;
  height: 160px;
}

.aura {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  html,
  body {
    overflow: scroll;
  }

  .nav {
    display: none;
  }

  .flex:not(.spaced) {
    flex-direction: column;
  }

  .left {
    height: auto;
  }

  .image-box {
    min-height: 500px;
    background-position: center;
  }

  .boxes {
    min-height: 100%;
    height: 100%;
    gap: 30px;
  }

  .aura {
    margin-bottom: 30px;
  }
}
